@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline {
  position: relative;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.timeline-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #b43333;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.timeline-content {
  margin-left: 20px;
}

.timeline-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.line-through {
  text-decoration: line-through;
}

.project-card {
  position: relative;
  width: 27rem;
  height: 15rem;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  text-align: center;
  z-index: 1;
}

/* Additional CSS styles */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

#popup, #popup2, #popup3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

#popup .popup-content, #popup2 .popup-content, #popup3 .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
}
