@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline {
  position: relative;
}

@media (max-width: 768px) {
  .timeline {
    margin: 0 auto;
    padding: 50px 0;
    width: 80%;
  }
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.timeline-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #b43333;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.timeline-content {
  margin-left: 20px;
}

.timeline-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.line-through {
  text-decoration: line-through;
}

.project-card {
  position: relative;
  width: 27rem;
  height: 15rem;
  margin: 20px;
  overflow: hidden;
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0.7;
  transition: opacity 0.3s;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  z-index: 1;
}


#popup, #popup2, #popup3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

#popup .popup-content, #popup2 .popup-content, #popup3 .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
}

