* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #0d0a20;
  height: 90vh;
}

.back {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 1rem 2rem;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: rgb(210, 68, 68);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ea5184;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #221b49;
  padding: 10px 0;
  border-bottom: 0.3rem solid #fafafa;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 10px;

      button {
        background-color: #221b49;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #7c2c47;
        }

        &.active {
          background-color: #6c3d91;
        }
      }
    }
  }
}

.learn-container {
  width: 90%;
  max-width: 80rem;
  background: linear-gradient(45deg, #221b49 0%, #320036 100%);
  padding: 30px;
  margin: 100px auto 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #222;
    padding-bottom: 30px;
    text-align: center;
    word-wrap: break-word;
  }
}

.question-block {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #221b49;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: 18px;
    color: #fafafa;
    font-weight: 600;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px;
      margin: 5px 0;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      word-wrap: break-word;
    }
  }

  .correct-answer {
    background-color: #adffba !important;
    border-color: #76c7c0;
  }
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    float: left;

    button {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        background-color: #111;
      }
    }
  }
}

.menu-toggle {
  display: none;
}

.tab {
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
}

.tab_2 {
  margin-left: 40px;
  font-family: "Courier New", Courier, monospace;
}

.tab_3 {
  margin-left: 60px;
  font-family: "Courier New", Courier, monospace;
}

.tab_4 {
  margin-left: 80px;
  font-family: "Courier New", Courier, monospace;
}

.code {
  background-color: #5c50a5;
  border: 1px solid #2b466e;
  border-radius: 1rem;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 217, 93);
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar if any */
  margin: 20px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text from wrapping */

  pre {
    margin: 0;
  }
}

.code_2 {
  background-color: #506ea5;
  border: 0.2rem solid #2b4a6e;
  border-radius: 1rem;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar if any */
  margin: 20px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text from wrapping */

  pre {
    margin: 0;
  }
}

.tobereviewed {
  background-color: #be8c00;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  color: #333;
  overflow-x: auto;
  margin: 20px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

  pre {
    margin: 0;
  }
}

/* Add media query for smaller screens */
@media screen and (max-width: 1000px) {
  .nav-links {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #221b49;
    padding: 0;

    li {
      margin: 0;
      float: none;
      width: 100%;
      border-bottom: 1px solid #555;

      button {
        width: 100%;
        padding: 12px 0;
      }
    }
  }

  .menu-toggle {
    display: block;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  .show {
    display: block;
  }
}

.app {
  background: #15112e;
  width: 90%;
  max-width: 80rem;
  margin: 100px auto 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
  border: 0.15rem solid #fafafa;
}

:root {
  --sp: 2.5s; /* change speed */
}

.content {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.65);
  animation: spin-all calc(var(--sp) * 2) linear 0s infinite;
}

.circle {
  --in: 80%;
  --ar: #8400ff;
  --dt: #ffea34;
  --shadow: drop-shadow(0vmin 0vmin 0.5vmin #000)
    drop-shadow(0vmin 1vmin 0.5vmin #0004);
  --cross: linear-gradient(
      0deg,
      #fff0 calc(50% - 2px),
      #000 calc(50% - 1px) calc(50% + 1px),
      #fff0 calc(50% + 2px)
    ),
    linear-gradient(
      90deg,
      #fff0 calc(50% - 2px),
      #000 calc(50% - 1px) calc(50% + 1px),
      #fff0 calc(50% + 2px)
    );
  border: 6vmin solid var(--ar);
  width: var(--in);
  height: var(--in);
  border-radius: 100%;
  position: absolute;
  box-sizing: border-box;
  border-top-color: #fff0;
  border-left-color: #fff0;
  top: 15vmin;
  right: -10vmin;
  animation: spin-bot var(--sp) ease 0s infinite;
  background-image: var(--cross),
    radial-gradient(var(--dt) 5.5vmin, #fff0 calc(5.5vmin + 1px));
  background-repeat: no-repeat;
  background-size: 3vmin 1vmin, 1vmin 3vmin, 100% 100%;
  background-position: center center;
  filter: var(--shadow);
}

.circle:nth-child(2) {
  --in: 60%;
  top: -2vmin;
  animation: spin-top var(--sp) ease 0s infinite;
  transform: rotate(-45deg);
  background-image: var(--cross),
    radial-gradient(var(--dt) 1.25vmin, #fff0 calc(1.25vmin + 1px));
  right: -4vmin;
  filter: hue-rotate(10deg) var(--shadow);
  background-size: 1.4vmin 1vmin, 1vmin 1.4vmin, 100% 100%;
}

.circle:nth-child(3) {
  --in: 100%;
  top: -5vmin;
  left: -13vmin;
  transform: rotate(175deg);
  animation: spin-left var(--sp) ease calc(var(--sp) / 4) infinite;
  background-image: var(--cross),
    radial-gradient(var(--dt) 9vmin, #fff0 calc(9vmin + 1px));
  filter: hue-rotate(20deg) var(--shadow);
  background-size: 5vmin 1vmin, 1vmin 5vmin, 100% 100%;
}

.circle:nth-child(4) {
  --in: 60%;
  top: 35vmin;
  left: -6vmin;
  transform: rotate(-280deg);
  animation: spin-last var(--sp) ease
    calc(calc(calc(var(--sp) / 4) + var(--sp)) * -1) infinite;
  background-image: var(--cross),
    radial-gradient(var(--dt) 2.5vmin, #fff0 calc(2.5vmin + 1px));
  filter: hue-rotate(30deg) var(--shadow);
  background-size: 2vmin 1vmin, 1vmin 2vmin, 100% 100%;
}

@keyframes spin-all {
  0% {
    transform: rotate(0deg) scale(0.65);
  }
  100% {
    transform: rotate(360deg) scale(0.65);
  }
}

@keyframes spin-top {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}

@keyframes spin-bot {
  0%,
  35% {
    transform: rotate(0deg);
  }
  80%,
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin-left {
  0%,
  35% {
    transform: rotate(175deg);
  }
  80%,
  100% {
    transform: rotate(535deg);
  }
}

@keyframes spin-last {
  0%,
  10% {
    transform: rotate(-280deg);
  }
  90%,
  100% {
    transform: rotate(-640deg);
  }
}

.loader_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  #pulse {
    color: #fafafa;
    font-size: 2rem;
    margin-bottom: 5rem;
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #fafafaad;
  }
  50% {
    transform: scale(1.2);
    color: #fafafa;
  }
  100% {
    transform: scale(1);
    color: #fafafaad;
  }
}
