* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #061814;
  height: 90vh;
}

.back {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 1rem 2rem;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: rgb(210, 68, 68);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.back:hover {
  background-color: #ea5184;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #133b33;
  padding: 10px 0;
  border-bottom: 0.3rem solid #fafafa;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 10px;
}
nav ul li button {
  background-color: #133b33;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
nav ul li button:hover {
  background-color: #497c2c;
}
nav ul li button.active {
  background-color: #3d914f;
}

.learn-container {
  width: 90%;
  max-width: 80rem;
  background: linear-gradient(45deg, #221b49 0%, #320036 100%);
  padding: 30px;
  margin: 100px auto 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.learn-container h3 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #222;
  padding-bottom: 30px;
  text-align: center;
  word-wrap: break-word;
}

.question-block {
  margin-bottom: 20px;
  padding: 20px;
  background-image: radial-gradient(circle, #114a3e, #003c42, #002c42, #001c3b, #0c032a);
  border: 0.3rem solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
}
.question-block h4 {
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.question-block img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}
.question-block ul {
  list-style-type: none;
  padding: 0;
}
.question-block ul li {
  padding: 10px;
  margin: 5px 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word;
}
.question-block .correct-answer {
  background-color: #adffba !important;
  border-color: #76c7c0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-links li {
  float: left;
}
.nav-links li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
.nav-links li button:hover {
  background-color: #111;
}

.menu-toggle {
  display: none;
}

.tab {
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
}

.tab_2 {
  margin-left: 40px;
  font-family: "Courier New", Courier, monospace;
}

.tab_3 {
  margin-left: 60px;
  font-family: "Courier New", Courier, monospace;
}

.tab_4 {
  margin-left: 80px;
  font-family: "Courier New", Courier, monospace;
}

.code {
  background-color: #2d553f;
  border: 1px solid #2b466e;
  border-radius: 1rem;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 217, 93);
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar if any */
  margin: 20px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text from wrapping */
}
.code pre {
  margin: 0;
}

.code_2 {
  background-color: #506ea5;
  border: 0.2rem solid #2b4a6e;
  border-radius: 1rem;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar if any */
  margin: 20px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text from wrapping */
}
.code_2 pre {
  margin: 0;
}

.tobereviewed {
  background-color: #be8c00;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  color: #333;
  overflow-x: auto;
  margin: 20px 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.tobereviewed pre {
  margin: 0;
}

/* Add media query for smaller screens */
@media screen and (max-width: 1000px) {
  .nav-links {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #133b33;
    padding: 0;
  }
  .nav-links li {
    margin: 0;
    float: none;
    width: 100%;
    border-bottom: 1px solid #555;
  }
  .nav-links li button {
    width: 100%;
    padding: 12px 0;
  }
  .menu-toggle {
    display: block;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }
  .show {
    display: block;
  }
  #search-box {
    top: 10px;
    right: 10px;
  }
}
.app {
  width: 100%;
  max-width: 80rem;
  margin: 100px auto 0;
  margin-bottom: 20px;
  padding: 30px;
}

:root {
  --sp: 2.5s; /* change speed */
}

.content {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.65);
  animation: spin-all calc(var(--sp) * 2) linear 0s infinite;
}

.circle {
  --in: 80%;
  --ar: #8400ff;
  --dt: #ffea34;
  --shadow: drop-shadow(0vmin 0vmin 0.5vmin #000)
    drop-shadow(0vmin 1vmin 0.5vmin #0004);
  --cross: linear-gradient(
      0deg,
      #fff0 calc(50% - 2px),
      #000 calc(50% - 1px) calc(50% + 1px),
      #fff0 calc(50% + 2px)
    ),
    linear-gradient(
      90deg,
      #fff0 calc(50% - 2px),
      #000 calc(50% - 1px) calc(50% + 1px),
      #fff0 calc(50% + 2px)
    );
  border: 6vmin solid var(--ar);
  width: var(--in);
  height: var(--in);
  border-radius: 100%;
  position: absolute;
  box-sizing: border-box;
  border-top-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  top: 15vmin;
  right: -10vmin;
  animation: spin-bot var(--sp) ease 0s infinite;
  background-image: var(--cross), radial-gradient(var(--dt) 5.5vmin, rgba(255, 255, 255, 0) calc(5.5vmin + 1px));
  background-repeat: no-repeat;
  background-size: 3vmin 1vmin, 1vmin 3vmin, 100% 100%;
  background-position: center center;
  filter: var(--shadow);
}

.circle:nth-child(2) {
  --in: 60%;
  top: -2vmin;
  animation: spin-top var(--sp) ease 0s infinite;
  transform: rotate(-45deg);
  background-image: var(--cross), radial-gradient(var(--dt) 1.25vmin, rgba(255, 255, 255, 0) calc(1.25vmin + 1px));
  right: -4vmin;
  filter: hue-rotate(10deg) var(--shadow);
  background-size: 1.4vmin 1vmin, 1vmin 1.4vmin, 100% 100%;
}

.circle:nth-child(3) {
  --in: 100%;
  top: -5vmin;
  left: -13vmin;
  transform: rotate(175deg);
  animation: spin-left var(--sp) ease calc(var(--sp) / 4) infinite;
  background-image: var(--cross), radial-gradient(var(--dt) 9vmin, rgba(255, 255, 255, 0) calc(9vmin + 1px));
  filter: hue-rotate(20deg) var(--shadow);
  background-size: 5vmin 1vmin, 1vmin 5vmin, 100% 100%;
}

.circle:nth-child(4) {
  --in: 60%;
  top: 35vmin;
  left: -6vmin;
  transform: rotate(-280deg);
  animation: spin-last var(--sp) ease calc((var(--sp) / 4 + var(--sp)) * -1) infinite;
  background-image: var(--cross), radial-gradient(var(--dt) 2.5vmin, rgba(255, 255, 255, 0) calc(2.5vmin + 1px));
  filter: hue-rotate(30deg) var(--shadow);
  background-size: 2vmin 1vmin, 1vmin 2vmin, 100% 100%;
}

@keyframes spin-all {
  0% {
    transform: rotate(0deg) scale(0.65);
  }
  100% {
    transform: rotate(360deg) scale(0.65);
  }
}
@keyframes spin-top {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@keyframes spin-bot {
  0%, 35% {
    transform: rotate(0deg);
  }
  80%, 100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin-left {
  0%, 35% {
    transform: rotate(175deg);
  }
  80%, 100% {
    transform: rotate(535deg);
  }
}
@keyframes spin-last {
  0%, 10% {
    transform: rotate(-280deg);
  }
  90%, 100% {
    transform: rotate(-640deg);
  }
}
.loader_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.loader_container #pulse {
  color: #fafafa;
  font-size: 2rem;
  margin-bottom: 5rem;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: rgba(250, 250, 250, 0.6784313725);
  }
  50% {
    transform: scale(1.2);
    color: #fafafa;
  }
  100% {
    transform: scale(1);
    color: rgba(250, 250, 250, 0.6784313725);
  }
}
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* Search styles */
#search-box {
  background: rgb(34, 104, 170) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) no-repeat 14px 14px;
  text-indent: 1em;
  display: inline-block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
  border: 0 none;
  width: 0;
  height: 3.3rem;
  border-radius: 3em;
  transition: 0.3s;
  outline: none;
  padding: 1em 1.5em;
  cursor: pointer;
  -webkit-appearance: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: #999;
  vertical-align: baseline;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-box:hover,
#search-box:focus {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNqsVLtOw0AQtIMlRJHCEhUVMg398QEUSZnSfILzCXxDPsFu6XAJHWnTcS1lWsprKdmLxtKwvjVBYaTV7cm+udnX5fPb+yyBSmwhVmK/FfPZLyjUPhI8YtXYi23EOovs7PzyevAbsWeoGg5HNUHsCipX8F9TZDOstVgLPxIsxW6w3sHv6dJ2StkLbh6IPtR/AWRfSIET20H9D2U1hfaAgxY2KMagcBSmg9/rmwx0lBqTzGfHoVfVHxXgXzCjHNRHnnHke4vMGc2q0RBR0GSeCLlpLaJGFWKUszVuib32nih7iTFrjXAPyGnQ48c3Gu5AOVlMtMk6NZuf+FiC+AIhV0T+pBQ5ntXceIJKqKko2duJ2TwoLAz5QTVnagJaXWEO8y/wSMuKH9RTJoCTHyNZFidOUEfNu/8WYAAOXUT04MOtlwAAAABJRU5ErkJggg==) 14px 14px no-repeat;
}

#search-box:focus {
  width: 98%;
  cursor: text;
}

pre code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px; /* Adjust the font size as needed */
  background-color: #e2e2e2; /* Light gray background for better readability */
  padding: 10px; /* Add some padding around the code */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #333333; /* Add a border around the code */
  display: block; /* Ensure it takes the full width */
  overflow-x: auto; /* Add horizontal scroll if the code is too wide */
  white-space: pre;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.details_btn {
  background-color: #007bff;
  color: #f7fbff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.details_btn:hover {
  background-color: #f7fbff !important;
  color: #007bff !important;
}

.details_div {
  display: none;
  padding: 20px;
  background-color: #f7fbff;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=style.css.map */