* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(230, 230, 230);
  height: 90vh;
}

.back {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1rem 2rem;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: rgb(210, 68, 68);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back:hover{
  background-color: #ea5184;
}

.tab {
  margin-left: 20px;
}

.tab_2 {
  margin-left: 40px;
}

.tab_3 {
  margin-left: 60px;
}

.tab_4 {
  margin-left: 80px;
}

.btn:active {
  background-color: #e8e8e8;
  color: red;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 80rem;
  margin: 100px auto 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
}

.btn.selected {
  background-color: #4278ff; /* Change to your desired background color */
  color: #efefef; /* Change to your desired text color */
}

#timer {
  padding: 10px;
  font-size: 20px;
  color: #fafafa;
  background-color: rgb(37, 31, 80);
  border-radius: 5px;
  text-align: center;
  width: 120px; /* Adjust width as needed */
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: background-color 0.3s ease;
}

#timer:hover {
  background-color: #e0e0e0; /* Lighten the background on hover */
  color: #333; /* Change text color on hover */
}

.app h3 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #222;
  padding-bottom: 30px;
  text-align: center;
}

.quiz {
  padding: 20px 0px;
}
.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

#answer-button {
  margin: 5px 0px;
  padding: 5px 0px;
}

.btn {
  color: #222;
  background: #fff;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #666;
  color: #ddd;
}

#correct-answers {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn, #answer-btn {
  font-weight: 400;
  background: #039ef7;
  color: #fff;
  margin: 20px auto 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  display: none;
}

#go-btn {
  text-align: center;
  font-weight: bold;
  background: #dbd229;
  color: #222;
  margin: 20px auto 0px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

#go-btn:hover {
  background: #ff9900;
  color: #fafafa;
}

#next-btn:hover, #answer-btn:hover {
  background: #004d1a;
}

.correct {
  background: #6cf681;
}
.incorrect {
  background: #fa7c7c;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.result-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  color: #fff;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item.correct {
  background-color: #adffba;
}

.result-item.incorrect {
  background-color: #ffbfbf;
}

.result-item p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 5px;
}

.result-item p:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.result-item p strong {
  font-weight: 600;
  color: #000;
}