/* Style for the pop-up menu */

.popup-menu {
  position: fixed;
  top: 0;
  right: -100%;
  /* Initially off-screen */
  bottom: 0;
  width: 70%;
  /* Adjust as needed */
  background-color: rgb(185,28,28);
  /* Red color */
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
  /* Ensure it appears above other elements */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-popup-menu {
  right: 0;
  /* Slide in from the right when active */
}

/* Style for close button */

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Style for the overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 999;
  /* Ensure it appears above other elements except the pop-up menu */
  display: none;
  /* Initially hidden */
}

.show-overlay {
  display: block;
  /* Show the overlay when the pop-up is active */
}